<ion-header-bar class="bar-dark">
	<button class="button icon ion-arrow-left-c" ui-sref="/list"></button>
	<h1 class="title" data-ng-bind-html="name"></h1>
</ion-header-bar>

<ion-view title="SWAPI | Character">
<ion-content class="row responsive-sm responsive-md responsive-lg padding bg">
<div class="col-90">
	<ul class="list">
		<li class="item item-diviver">Character Information</li>
		<li class="item">Birth Year: {{birth_year}}</li>
		<li class="item">Eye Color: {{eye_colo}}</li>
		<li class="item">Gender: {{gender}}</li>
		<li class="item">Hair Color: {{hair_color}}</li>
		<li class="item">Height: {{height}}</li>
		<li class="item">Mass: {{mass}}</li>
		<li class="item">Skin Color: {{skin_color}}</li>
		<li class="item">Homeworld: {{homeworld}}</li>
		<li class="item">Films: {{films[0]}}</li>
		<li class="item">Species: {{species[0]}}</li>
		<li class="item">Starship: {{starship}}</li>
		<li class="item">Vehicles: {{vehicles}}</li>
	</ul>
	</div>
</ion-content>
</ion-view>